<h1>bienvenue slp</h1>

<p>

    <% if user_signed_in? %>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    <% else %>
        <%= link_to 'Sign in', new_user_session_path %>
        <%= link_to 'Sign in twitter',  user_twitter_omniauth_authorize_path, method: :post %>
        <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, method: :post %>
    <% end %>
</p>