@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap');
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Hind Siliguri', sans-serif;
}