@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif
}

body {
    background-image: url("../images/login_background.png");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.authContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 1rem;
    width: 70vw;
    backdrop-filter: blur(8px);

}

.authContainer * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    padding-bottom: 2rem;
}

.subtitle {
    font-size: 1.3rem;
    color: grey;
    margin-top: 2rem;
    padding-bottom: .5rem;
    text-align: center;
}

.socialNetworks {
    border: none;
    border-radius: .5rem;
    background: white;
    display: block;
    padding: .5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: .5rem;
}

.socialNetworks:hover {
    cursor: pointer;
}


svg {
    width: 2rem;
    height: 2rem;
}

.twitter {
    fill: rgb(29 161 242);
}

.fieldFormat {
    font-size: 1rem;
    border-radius: .5rem;
    margin: .5rem;
    padding-left: .5rem;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    color: rgb(14, 14, 16);
    background: #dee1e2;
    display: block;
    height: 36px;
    width: 65%;
}

.fieldFormat:focus {
    outline: none;
}

.fieldFormat:disabled {
    color: rgb(125 125 125);
    border: none;
}

.fieldFormat:hover {
    border-color: #ccc;
}

.buttonFormat {
    font-size: 1.1rem;
    border: none;
    border-radius: .5rem;
    background: var(--auth-buttons);
    color: white;
    display: block;
    width: 66%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    box-shadow: rgba(45, 45, 189, 0.81) 0px 7px 29px 0px;
}

.buttonFormat:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {

    .subtitle {
        font-size: 1rem;
    }

    .fieldFormat {
        width: 90%;
    }
}