:root {
    --accent-color: rgba(37, 121, 211, 1);
    --accent-color-fade: rgba(37, 121, 211, 0.123);
    --background-color: #1a1c27;
    --navbar-color: #212434;
    --text-color: white;
    --navbar-light-color: #2a2f3e;
    --error-text: #f70c37;
    --error-background: #f70c373b;
    --input-color: #1E202E;
}