@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginPage {
    height: 100vh;
    background: white;
}

.loginTitle {
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: .3rem;
    color: var(--navbar-color);
}

.loginText {
    font-size: 1.5rem;
    color: grey;
    padding-bottom: .5rem;
}

.loginForm {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    padding-top: 2rem;
    border-radius: .2rem;
    background: white;
}

.fieldPadding {
    padding: .5rem
}

.logoPadding {
    padding-left: 1rem;
}

.logos {
    flex-direction: row;
    padding-bottom: 1rem;
}

.fieldFormat {
font-size: 1rem;
border-radius: 5rem;
line-height: 1.5;
padding: 5px 10px;
transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
border: 2px solid #dee1e2;
color: rgb(14, 14, 16);
background: #dee1e2;
display: block;
height: 36px;
}

.fieldFormat:hover {
    border-color: #ccc;
}

.fieldSetFormat {
    border: none;
}

.buttonFormat {
    background: var(--accent-color);
    font-size: 1.1rem;
    color: white;
    border-radius: 5rem;
    line-height: 1.5;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: none;
    width:25%;
    padding-top:.5rem;
    padding-bottom:.5rem;
}

.buttonFormat:hover {
    cursor:pointer;
}

.formPadding {
    padding-bottom:.5rem;
}

.orText {
    color:grey;
    font-size: 1.3rem;
}