* {
    font-family: 'Poppins', sans-serif
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.button {
    color: var(--auth-buttons);
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    transition-duration: .3s;
    cursor: pointer;
    background: none;
    margin: .5rem;
}

.button:hover:not(.active) {
    color: var(--accent-color);
}

.button.active {
    background: white;
    border-radius: 1.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.navbarAuth {
    width: 100%;
    border: none;
}

@media only screen and (max-width: 600px) {
    .button {
        font-size: 1rem;
    }
}