box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.registerPage {
    height: 100vh;
    background: white;
}

.registerTitle {
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: 2rem;
    color: var(--navbar-color);
}
