html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23bababa' fill-opacity='0.29'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.loadZone {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load {
    color: var(--text-color);
    animation: rotate infinite 2s linear;
    font-size: 3rem;
    /* width: 100%; */
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.content {
    width: calc(100vw - 15rem);
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: fit-content;
    margin-left: 13rem;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.container {
    margin: .7rem;
    background: var(--navbar-light-color);
    display: flex;
    flex: 1 25%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    border-radius: .7rem;
    padding: 1.2rem;
    box-shadow: 0 .5rem .5rem rgba(36, 53, 80, 0.233);
    min-width: 12rem;
    flex-direction: column;
    animation: linear .2s fadeIn;
}

.biggerContainer {
    transition-duration: 1s;
    padding: 0;
    width: 100%;
    min-width: none;
    flex: 1 100%;
    height: 15vh;
}

.biggerContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .7rem;
}

.biggerContainer:focus,
.biggerContainer:hover {
    height: fit-content;
    max-height: 80vh;
}

@keyframes fadeIn {
    0% {
        translate: 0 5px;
        opacity: 0;
    }
    100% {
        translate: 0 0;
        opacity: 1;
    }
}

@keyframes fadeInMobile {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.containerTitle {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: .5rem;
    text-align: left;
    width: 100%;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.containerContent {
    text-align: justify;
}

.container.error {
    border: solid var(--error-text);
    background: var(--error-background);
    backdrop-filter: blur(10px);
}

.container.error .containerTitle {
    color: var(--error-text);
}

.wip {
    cursor: not-allowed;
}

.container input {
    color: var(--input-text);
    background: var(--input-color);
    border: none;
    padding: .8rem;
    margin: .5rem;
    width: 97%;
    border-radius: .5rem;
}

.container input:focus {
    outline: none;
}

.container select {
    /* display: flex; */
    color: var(--input-text);
    background: var(--input-color);
    border: none;
    padding: .8rem;
    margin: .5rem;
    width: 103%;
    border-radius: .5rem;
}

.row-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex: 1 50%;
}

.border {
    border: solid var(--accent-color);
    border-radius: .5rem;
    position: relative;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.border div:first-child {
    color: var(--accent-color);
    position: absolute;
    background-color: var(--navbar-light-color);
    top: -1.3rem;
    padding-left: .6rem;
    padding-right: .6rem;
    font-size: 1.2rem;
}

.btnBig {
    background: var(--accent-color);
    margin: .6rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: .7rem;
    font-size: 1.6rem;
    color: var(--text-color-invert);
    box-shadow: 0 .2rem .5rem rgba(24, 45, 77, 0.212);
    border: none;
    cursor: pointer;
    transition-duration: .3s;
}

.btnBig:hover {
    scale: 1.05;
}

@media only screen and (max-width: 600px) {
    .container {
        animation: linear .2s fadeInMobile;
    }
    .content {
        width: calc(100vw - 2rem);
        margin-left: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 5rem;
    }
    .containerTitle {
        text-align: center;
    }
    .row-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-left: .5rem;
        padding-right: .5rem;
    }
    .container input {
        width: 92%;
    }
    .container select {
        width: 100%;
    }
}